


<h1>Products</h1>

<%= link_to "New product", new_product_path %>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>    <!--#issu-->
    </div>
  <% end %>
</div>


<h1>Products</h1>
<div>
  <% @products.each do |product| %>
    <%= render @product%>
    <%end%>
<div>

<h1>Products</h1>
<div>
  <% @products.each do |product| %>
    <%= render partial: "product", locals: {product: product} %>
    <%end%>
<div>